.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px; /* Ajusta el ancho según sea necesario */
    margin: auto; /* Centra el tablero horizontalmente */
  }
  
  .carta {
    width: calc(50% - 10px); /* 50% del ancho del contenedor menos el espacio entre cartas */
    height: 50px;
    background-color: #e0e0e0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .carta.volteada {
    background-color: #4caf50;
    color: #fff;
  }
  