<div class="texto">¡Bienvenido a la pantalla principal del modulo 
  de juegos, elige la opción "Play" para acceder a 
  la pantalla de juegos, elige la opción "Options" 
  para personalizar las opciones del módulo de juegos, 
  elige la opción "Author" para ver los créditos del 
  modulo de juegos y elige la opción exit para salir 
  del módulo de juegos.</div>
  
  
<div class="zonabotones"> 
  <button class="boton" mat-raised-button color="primary" routerLink="/juegos">Play</button>
  <button class="boton" mat-raised-button color="primary" routerLink="/opciones"> Options</button>
  <button class="boton" mat-raised-button color="primary" routerLink="/autor">Author</button>
  <button class="boton" mat-raised-button color="primary" routerLink="/lista-personajes">Exit</button>
</div>

<router-outlet></router-outlet>
