:root {
    --background-color: #282846;
    --snake-color: #fed049;
    --food-color: #007580;
    --dpad-radius: 17%;
    --dpad-radius-in: 20%;
    --dpad-fg: #ddd;
    --dpad-fg-hover: #eee;
    --dpad-bg: #fff;
    --arrowcolor: #aaa;
    --tri-sml-a: 13px;
    --tri-sml-b: 19px;
    --tri-lrg-a: 13px;
    --tri-lrg-b: 19px;
    --dpad-arrow-shift: 5px;
    --dpad-arrow-move: 35%;
}

.container2 {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    padding: 20px;
    color: #d8ebe4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.score-card {
    padding: 20px;
    color: #d8ebe4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-card .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 .score-card .restart-button {
    padding: 10px 20px;
    color: #282846 !important;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8ebe4;
    cursor: pointer;
    z-index: 99;
}

.container2 .game-board {
    background-color: #d8ebe4;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.container2 .game-board.blur {
    filter: blur(4px);
}

.game-over {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fed049;
    z-index: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.game-over h1 {
    font-size: 3em;
}

@media only screen and (max-width: 1025px) {
    .container {
        flex-direction: column;
    }
    .container .score-card {
        flex-direction: column !important;
    }
}
