<div class="container">
    <p></p>
    <p></p>
    <h1>Juego SNAKE</h1>
    <p></p>
    <p></p>
    <div class="container2" style="background-color: #282846" >
      <div class="container2" >
        <div class="score-card">
          <div class="score-board">
            <h1>Score</h1>
            <h3>{{food?.currentScore}}</h3>
          </div>
          <div class="restart-button" >
            RESTART
          </div>
        </div>
        <div class="game-over" *ngIf="gameOver">
          <h1>Game Over</h1>
        </div>
  
        <div class="game-board">
        </div>
      </div>
    </div>
  </div>