.contenedor_general1{
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.consola{
    width: 400px;
    height: 200px;
    background-color: grey;
    padding: 10px;
    color: white;
}
.selecciones{
    width: 300px;
    height: 100px;
    background-color: grey;
    display: flex;
    flex-direction: row;
}
.eleccion{
    width: 80px;
    height: 80px;
    margin: 80px;
    margin: 10px;
    background-color: aliceblue;
}
.tijeras{
    background-image: url('/assets/imagenes/kisspng-scissors-surgery-surgical-instrument-medicine-medi-tijeras-5b14f69bcc4234.2061485615281005078367.png');
    background-size: cover;
}
.papel{
    background-image: url('/assets/imagenes/5a1cdba542c3f0.9086138415118406772735.png');
    background-size: cover;
}
.piedra{
    background-image: url('/assets/imagenes/piedra.png');
    background-size: cover;
}
.eleccion:hover{
    background-color: blue;
    cursor: pointer;
}
@media only screen and (max-width:500px) {
    .consola{
        width: 200px;
    }
}
.vidas{
    width: 250px;
    height: 200px;
    background-color: grey;
    padding: 10px;
    color: white;
}
.vidaJugador{
    margin-bottom: 70px;
}
.imagen{
    width: 50px;
}
