<div class="contenedor_general1">
    <div class="consola">
        {{texto}}<br>
        {{texto2}}<br>
        {{texto3}}<br>
    </div>
    <div class="vidas">
        <p>Vidas del Jugador: </p>
        <img *ngFor="let i of vidasJugadorArray" class="imagen" src="/assets/imagenes/corazon.png" alt="imagen">
        <p>Vidas de la Maquina: </p>
        <img *ngFor="let i of vidasMaquinaArray" class="imagen" src="/assets/imagenes/corazon.png" alt="imagen">
    </div>
    <div class="selecciones">
        <div (click)="elegir('tijeras')" class="eleccion tijeras"></div>
        <div (click)="elegir('papel')" class="eleccion papel"></div>
        <div (click)="elegir('piedra')" class="eleccion piedra"></div>
    </div>

</div>